{% extends "common/col2.html" %}

{% block title %}Lista ofert Volontulo{% endblock %}

{% block sidebar %}
    {% include "offers/offers_sidebar.html" %}
{% endblock %}

{% block content %}
    {% if offers %}
        <h2>Lista ofert</h2>
        <table class="table table-striped">
            <tr>
                <th>Miejsce</th>
                <th>Tytuł</th>
                <th>Nazwa organizacji</th>
                <th>Czas obowiązywania</th>
                <th></th>
            </tr>
        {% for o in offers %}
            <tr>
                <td>{{ o.location }}</td>
                <td>{{ o.title }}</td>
                <td>{{ o.organization.name }}</td>
                <td>{{ o.time_period }}</td>
                <td>
                {% if o.status == 'ACTIVE' %}
                    <a href="{% url 'offers_view' o.title|slugify o.id %}">Pomóż</a>
                {% else %}
                    <form id="offer_ {{ o.id }}_activate" method="post" action="{% url 'offers_edit' o.title|slugify o.id %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" value="status_change" name="edit_type" />
                        <input type="hidden" value="status" name="ACTIVE" />
                        <button type="submit" name="submit" class="btn btn-primary">Aktywuj</button>
                    </form>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>Brak ofert spełniających podane kryteria</p>
    {% endif %}

{% endblock %}
