{% extends "common/col2.html" %}

{% block title %}Lista ofert Volontulo{% endblock %}

{% block sidebar %}
    <div>
        <a href="{% url "offers_join" offer.title|slugify offer.id %}" class="btn btn-primary btn-lg">Zgłoś się do wolontariatu</a>
    </div>
{% endblock %}


{% block content %}
    <h2>Szczegóły wybranej oferty</h2>
    <table class="table table-stripped">
        <tr><th>Tytuł</th><td>{{ offer.title }}</td></tr>
        <tr><th>Miejsce</th><td>{{ offer.location }}</td></tr>
        <tr><th>Czas obowiązywania</th><td>{{ offer.time_period }}</td></tr>
        <tr><th>Organizacja</th><td>{{ offer.organization.name }}</td></tr>
        <tr><th>Opis szczegółowy</th><td>{{ offer.description }}</td></tr>
        <tr><th>Wymogi względem wolontariusza</th><td>{{ offer.requirements }}</td></tr>
        <tr><th>Wymagania zaangażowania czasowego</th><td>{{ offer.time_commitment }}</td></tr>
        <tr><th>Korzyści dla wolontariusza</th><td>{{ offer.benefits }}</td></tr>
    </table>

    {# User jest organizacją i oferta jest zamknięta. #}
    {% if offer.status == 'CLOSED' and user.organization %}
        {% include 'offers/rewarding_volunteers.html' with volunteers=volunteers offer=offer %}
    {% endif %}

    {% if user.userprofile.is_administrator %}
        {% include 'offers/applied_volunteers.html' with volunteers=volunteers %}
    {% endif %}

    {% if user.is_administrator %}
        <a href="{% url 'offers_edit' offer.title|slugify offer.id %}" class="btn btn-primary">Edytuj ofertę</a>
    {% endif %}

{% endblock %}
