{% load bootstrap3 %}
<form action="{{ request.get_full_path }}" method="post" enctype="multipart/form-data" role="form">
    {% csrf_token %}
    <div class="form-group">
        <p>{% bootstrap_form user_avatar_form %}</p>
        <p class="help-block">Proszę o uwzględnienie formatu zdjęcia: jpg, gif, png, bmp</p>
    </div>
    <div class="form-group col-xs-offset-2">
        <button type="submit" name="submit" value="save_image" class="btn btn-primary">Zapisz
            grafikę</button>
    </div>
</form>
