{% load bootstrap3 %}

{% bootstrap_css %}

<h2>Informacje o działaniu portalu</h2>
<div class="media-body">
    <div class="media-left">
        21 października 2015
    </div>
    <div class="media-body">
        <h3 class="media-heading">News o działaniu portalu</h3>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
        <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    </div>
</div>

{% bootstrap_javascript %}
