{% load bootstrap3 %}
{% if organization_image_form.organization|length %}
<form action="{{ request.get_full_path }}" method="post" enctype="multipart/form-data" role="form">
    {% csrf_token %}
    <div class="form-group">
        <p>{% bootstrap_form organization_image_form %}</p>
        <p class="help-block">Proszę o uwzględnienie formatu zdjęcia: jpg, gif, png, bmp</p>
    </div>
    <div class="form-group col-xs-offset-2">
        <button type="submit" name="submit" value="save_organization_image" class="btn btn-primary">Zapisz grafikę</button>
    </div>
</form>
    {% if galleries.items|length %}
        <section>
        {% for organization, gallery in galleries.items  %}
            <h3>{{ organization }}</h3>
            {% for image in gallery %}
                {% if image.is_main %}
                <a href="{{ MEDIA_URL }}{{ image }}" class="img-main"><img src="{{ MEDIA_URL }}{{ image }}" alt="{{ image }}" class="img-thumbnail img-responsive" width="128" height="90"/></a>
                {% else %}
                <a href="{{ MEDIA_URL }}{{ image }}"><img src="{{ MEDIA_URL }}{{ image }}" alt="{{ image }}" class="img-thumbnail img-responsive" width="128" height="90"/></a>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </section>
    {% else %}
        <p>Żadna z organizacji do których należysz nie ma jeszcze dodanego zdjęcia.</p>
    {% endif %}
{% else %}
<p>Aby dodawać zdjęcia do organizacji należy być członkiem przynajmniej jednej z nich.</p>
{% endif %}
