{% load bootstrap3 %}
{% if organization_image_form.organization|length %}
<form action="{{ request.get_full_path }}" method="post" enctype="multipart/form-data" role="form">
    {% csrf_token %}
    <div class="form-group">
        <p>{% bootstrap_form organization_image_form %}</p>
        <p class="help-block">Proszę o uwzględnienie formatu zdjęcia: jpg, gif, png, bmp</p>
    </div>
    <div class="form-group col-xs-offset-2">
        <button type="submit" name="submit" value="save_organization_image" class="btn btn-primary">Zapisz grafikę</button>
    </div>
</form>
{% else %}
<p>Aby dodawać zdjęcia do organizacji należy być członkiem przynajmniej jednej z nich.</p>
{% endif %}