{% extends "common/col2.html" %}

{% block title %}Wyświetlanie organizacji{% endblock %}

{% block content %}
    <h2>Organizacja</h2>
    <div class="form-horizontal">
        <div class="form-group form-group-sm">
            <label class="col-xs-2 control-label">Nazwa</label>
            <div class="col-xs-4 form-control-static">
                <span>{{ organization.name }}</span>
            </div>
            <label class="col-xs-2 control-label">Adres</label>
            <div class="col-xs-4 form-control-static">
                <span>{{ organization.address }}</span>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-xs-2 control-label">Opis</label>
            <div class="col-xs-10">
                {{ organization.description }}
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="col-xs-offset-2 col-xs-10">
            <a href="{% url 'organization_form' organization.name|slugify organization.id %}" class="btn btn-primary">Edytuj organizację</a>
            <a href="{% url 'offer_form' organization.id %}" class="btn btn-primary">Dodaj ofertę</a>
        </div>
    </div>

    {% if not user.is_organization %}
    <div class="form-horizontal">
        {% include 'contact_form.html' with contact_form=contact_form  %}
    </div>
    {% endif %}

    {% include 'organizations/organization_offers.html' with offers=offers %}

{% endblock %}
