{% extends "common/col1.html" %}

{% block title %}O nas{% endblock %}

{% block content %}
    <h2>O Volontulo</h2>
    <div>
        <div>Lubisz nowe wyzwania? Chcesz pomagać innym? Zależy Ci na rozwoju? Szukasz wolontariuszy? Jeśli choć na jedno z tych pytań opowiedziałeś/aś twierdząco wolontariat to odpowiedź dla Ciebie! Zgłoś się do Poznańskiego Centrum Wolontariatu prowadzonego przez Wielkopolską Radę Koordynacyjną Związek Organizacji Pozarządowych. Naszym celem jest pomoc we wzajemnym odnalezieniu się ludzi, którzy chcą realizować się jako wolontariusze/szki oraz organizacji i instytucji, które takich osób poszukują.</div>

        <div>Wolontariat to niesamowita okazja do zdobycia nowych doświadczeń, rozwoju swoich umiejętności i kompetencji, poznania innych ludzi. To także świadomość, że to co robisz ma sens!</div>

        <h3>KIM JESTEŚMY?</h3>

        <div>Wielkopolska Rada Koordynacyjna Związek Organizacji Pozarządowych jest dobrowolnym związkiem organizacji pozarządowych, który został utworzony w 1990 roku z inicjatywy kilkudziesięciu organizacji społecznych. Dziś jesteśmy największym związkiem w Wielkopolsce i zrzeszamy ponad 200 fundacji i stowarzyszeń z całego regionu. Poprzez swoją działalność kształcimy proobywatelskie i proaktywne postawy mieszkańców i mieszkanek Wielkopolski. Jako lider ruchu obywatelskiego w regionie inspirujemy do działań w obszarze „małych ojczyzn”. Uwrażliwiamy na potrzeby i problemy innych. Edukujemy, doradzamy, animujemy, wspieramy zarówno grupy formalne jak i nieformalne oraz niezrzeszonych aktywistów…</div>

        <div>Od lat działamy na rzecz:
            <ul>
                <li>wzmocnienia postaw obywatelskich,</li>
                <li>inicjowania i pomocy w uruchomieniu nowych społecznych inicjatyw,</li>
                <li>animowania wolontariatu,</li>
                <li>współpracy międzynarodowej i wymiany doświadczeń związanych z funkcjonowaniem sektora obywatelskiego.</li>
            </ul>
        </div>

        <div>W swoim działaniu kierujemy się wzajemnym wsparciem, partnerstwem, otwartą komunikacją, zaufaniem.</div>

        <div>Od 2012 roku należymy do Ogólnopolskiej Sieci Centrów Wolontariatu i prowadzimy w Wielkopolsce Regionalne Centrum Wolontariatu koordynujące sieć 17 Lokalnych Centrów Wolontariatu. Jeśli chcesz założyć Lokalne Centrum Wolontariatu w swojej miejscowości, również zgłoś się do nas. Przygotujemy Ciebie i Twoją organizację.</div>

        <div>W Poznaniu znajdziesz nas na ul. Bukowskiej 27/29, gdzie prowadzimy Poznańskie Centrum Wolontariatu i pomagamy łączyć wolontariuszy z organizatorami wolontariatu.</div>

        <div>Więcej informacji o nas znajdziesz na <a href="http://www.wrk.org.pl">www.wrk.org.pl</a>.</div>
    </div>

{% endblock %}
