{% extends "common/col1.html" %}

{% block title %} Przyjdź na dyżur {% endblock %}

{% block content %}
    <h2>Przyjdź na dyżur</h2>
    <div>
        <div>Zapraszamy do naszego biura, które znajduje się przy ul. Bukowskiej 27/29 w Poznaniu.</div>
        <div>Dyżury dla wolontariuszy oraz organizacji i instytucji współpracujących z wolontariuszami odbywają się w każdy <strong>wtorek w godz. 16.00-18.00 i czwartek w godz. 16.00-18.00</strong>.</div>

        <div>Możesz też skontaktować się z nami mailowo: <a href="mailto:wolontariat@wrk.org.pl">wolontariat@wrk.org.pl</a> lub telefonicznie: 61 85 30 930.</div>

        <div>Zachęcamy do kontaktu :)</div>
    </div>
{% endblock %}
