{% load bootstrap3 %}
{% load staticfiles %}
{% load cookielaw_tags %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Volontulo - {% block title %}{% endblock %}</title>

        {% block styles %}
            <link href="{% static "volontulo/css/bootstrap.css" %}" rel="stylesheet">
        {% endblock %}

    </head>

    <body class="{% block name %}{% endblock %}">
        <script>document.body.style += ' js';</script>

        {% cookielaw_banner %}
        <section class="header">
            <div class="container">
                {% include "common/header.html" %}
                {% include "common/messages.html" %}
            </div>
        </section>
        {% block layout %}
        {% endblock %}
        <section class="footer">
            <div class="container">
                {% include "common/footer.html" %}
            </div>
        </section>
        <section class="sub-footer">
            <div class="container">
                {% include "common/sub-footer.html" %}
            </div>
        </section>

        {% block scripts %}
            <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
            <script src="{% static "cookielaw/js/cookielaw.js" %}"></script>
            <script src="{% static "volontulo/javascripts/bootstrap.js" %}"></script>
        {% endblock %}
    </body>
</html>
