{% block footer %}
    <h2 class="hide">Nawigacja</h2>
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <h3 class="nav-title">Ogólne</h3>
            <ul class="nav-list list-unstyled">
                <li><a href="{% url 'homepage' %}">Strona główna</a></li>
                <li><a href="{% url 'register' %}">Rejestracja</a></li>
                <li><a href="{% url 'contact_form' %}">Kontakt z administratorem</a></li>
            </ul>
            <ul class="nav-list list-unstyled">
                <li><a href="{% url 'static_page' 'site-news' %}">Aktualności o stronie</a></li>
                <li><a href="{% url 'static_page' 'faq-organizations' %}">FAQ dla organizacji</a></li>
                <li><a href="{% url 'static_page' 'regulations' %}">Regulamin</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-4">
            <h3 class="nav-title">Organizacje</h3>
            <ul class="nav-list list-unstyled">
                <li><a href="{% url 'organizations_create' %}">Załóż organizację</a></li>
                <li><a href="{% url 'offers_create' %}">Tworzenie oferty</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-4">
            <h3 class="nav-title">Strefa wolontariusza</h3>
            <ul class="nav-list list-unstyled">
                <li><a href="{% url 'offers_list' %}">Załóż konto</a></li>
                <li><a href="{% url 'offers_list' %}">Lista aktualnych ofert</a></li>
                <li><a href="{% url 'offers_archived' %}">Archiwum ofert</a></li>
                <li><a href="{% url 'organizations_list' %}">Lista organizacji</a></li>
                <li><a href="{% url 'static_page' 'faq-volunteers' %}">FAQ dla wolontariuszy</a></li>
                <li><a href="{% url 'static_page' 'office' %}">Przyjdź na dyżur</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
