{% load staticfiles %}

{% block header %}
    {% block social_nav %}
    {% endblock %}

    {% block navigations %}
    <div class="row">
        <div class="col-xs-12">
            <nav class="">
                <h1 class="navbar-header">
                    <a href="{% url 'homepage' %}">
                        <img src="{% static "volontulo/img/volo_logo.svg" %}" alt="Volontulo" />
                    </a>
                </h1>
                <div class="pull-right">
                {% if user.is_anonymous and not user.is_authenticated %}
                    <a class="btn btn-primary navbar-btn" href="{% url 'login' %}">Załóż konto</a>
                    <span class="navbar-text">lub</span>
                    <a class="btn btn-link navbar-btn" href="{% url 'login' %}">Zaloguj się</a>
                {% else %}
                    <div class="btn-group">
                        <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="btn btn-link dropdown-toggle" type="button">Witaj, {{ user.email }}! <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'logged_user_profile' %}">Moje konto</a>
                            </li>
                            {% if user.is_staff %}
                            <li>
                                <a href="{% url 'admin_panel' %}">Panel administracyjny</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    <a class="btn btn-info navbar-btn"href="{% url 'logout' %}">Wyloguj <span aria-hidden="true" class="glyphicon glyphicon-log-out"></span></a>
                {% endif %}
                </div>
            </nav>
        </div>
    </div>
    {% endblock %}
{% endblock %}
