{% block subfooter %}
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <p class="cooperation-info">Ten serwis powstał wspólnym wysiłkiem we współpracy pomiędzy</p>
    </div>
</div>
<div class="row logos">
    <div class="col-xs-12 col-sm-2 col-sm-offset-2 text-center">
        <a target="_blank" href="http://wrk.org.pl/"><img class="img-responsive center-block" src="/static/volontulo/img/logo/logo-wrk.png" alt="Logo WRK - Wielkopolska Rada Koordynacyjna Związek Organizacji Pozarządowych"></a>
    </div>
    <div class="col-xs-12 col-sm-2 text-center">
        <a target="_blank" href="http://stxnext.pl"><img class="img-responsive center-block" src="/static/volontulo/img/logo/logo-stx-next.png" alt="Logo STX Next"></a>
    </div>
    <div class="col-xs-12 col-sm-2 text-center">
        <a target="_blank" href="http://kodujdlapolski.pl/"><img class="img-responsive center-block" src="/static/volontulo/img/logo/logo-koduj-dla-polski.png" alt="Logo Koduj Dla Polski"></a>
    </div>
    <div class="col-xs-12 col-sm-2 text-center">
        <a target="_blank" href="https://www.facebook.com/KOMITYWA.org/"><img class="img-responsive center-block" src="/static/volontulo/img/logo/logo-komitywa.png" alt="Logo Komitywa"></a>
    </div>
</div>
{% endblock %}
