{% extends "common/col1.html" %}
{% load main_image %}

{% block title %}Administracja: Lista ofert Volontulo{% endblock %}

{% block content %}
    {% include 'admin/offers_nav.html' %}
    {% if offers %}
        <h2>Lista ofert wymagających moderacji/akceptacji</h2>
        <table class="table table-striped offer-table">
            <tr>
                <th></th>
                <th>Tytuł</th>
                <th>Miejsce</th>
                <th>Rozpoczęcie</th>
                <th>Organizacja zgłaszająca</th>
                <th class="text-center">Status</th>
                <th class="text-right">Akcje</th>
            </tr>
        {% for offer in offers %}
            <tr>
                <td>
                    <a class="crop-circle" href="{% url 'offers_view' offer.title|slugify offer.id  %}">
                        <img src="/media/{{ offer.images.all|main_image }}" alt="{{offer.images.all|main_image|slugify|default:''}}" />
                    </a>
                </td>
                <td>
                    <a class="btn btn-link" href="{% url 'offers_view' offer.title|slugify offer.id  %}">{{ offer.title }}</a>
                </td>
                <td>
                    <div class="form-control-static">{{ offer.location }}</div>
                </td>
                <td>
                    <div class="form-control-static">{{ offer.started_at }}</div>
                </td>
                <td>
                    <a class="btn btn-link" href="{% url 'organization_view' offer.organization.name|slugify offer.organization.id %}">{{ offer.organization.name }}</a>
                </td>
                <td class="text-center">
                    <div class="form-control-static">
                        {% include 'common/labeled_status.html' with status=offer.status_old %}
                    </div>
                </td>
                <td class="text-right">
                    <a href="{% url 'offers_edit' offer.title|slugify offer.id  %}" class="btn btn-info">
                        <span aria-hidden="true" class="glyphicon glyphicon-edit"></span> Edycja
                    </a>
                    <a href="{% url 'offers_view' offer.title|slugify offer.id  %}" class="btn btn-default">
                        <span aria-hidden="true" class="glyphicon glyphicon-eye-open"></span> Podgląd
                    </a>
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>Brak ofert spełniających jakiekolwiek kryteria.</p>
    {% endif %}
{% endblock %}
