{% extends "common/col1.html" %}
{% load main_image %}

{% block title %}Administracja: Lista ofert Volontulo{% endblock %}

{% block content %}
    {% include 'admin/offers_nav.html' %}
    {% if offers %}
        <h2>Lista ofert wymagających moderacji/akceptacji</h2>
        <table class="table table-striped offer-table">
            <tr>
                <th></th>
                <th>Tytuł</th>
                <th>Miejsce</th>
                <th>Rozpoczęcie</th>
                <th>Organizacja zgłaszająca</th>
                <th class="text-center">Status</th>
                <th class="text-right">Akcje</th>
            </tr>
        {% for offer in offers %}
            <tr>
                <td>
                    <a class="crop-circle" href="{% url 'offers_view' offer.title|slugify offer.id  %}">
                        <img src="/media/{{ offer.images.all|main_image }}" alt="{{offer.images.all|main_image|slugify|default:''}}" />
                    </a>
                </td>
                <td>
                    <a class="btn btn-link" href="{% url 'offers_view' offer.title|slugify offer.id  %}">{{ offer.title }}</a>
                </td>
                <td>
                    <div class="form-control-static">{{ offer.location }}</div>
                </td>
                <td>
                    <div class="form-control-static">{{ offer.started_at }}</div>
                </td>
                <td>
                    <a class="btn btn-link" href="{% url 'organization_view' offer.organization.name|slugify offer.organization.id %}">{{ offer.organization.name }}</a>
                </td>
                <td class="text-center">
                    <div class="form-control-static">
                        {% include 'common/labeled_status.html' with status=offer.status_old %}
                    </div>
                </td>
                <td class="text-right">
                    <a class="btn btn-success accept-offer"  data-toggle="modal" href="{% url 'offers_accept' offer.id  %}">
                        <span aria-hidden="true" class="glyphicon glyphicon-edit"></span> Aktywuj
                    </a>
                    <a class="btn btn-danger delete-offer" href="#" data-target="#confirm-delete" data-toggle="modal" data-href="{% url 'offers_delete' offer.id  %}">
                        <span aria-hidden="true" class="glyphicon glyphicon-edit"></span> Odrzuć
                    </a>

                </td>
            </tr>
        {% endfor %}
        </table>

        <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="confirmDelete" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Jesteś pewien?</h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                        <a class="btn btn-danger btn-ok">Usuń</a>
                    </div>
                </div>
            </div>
        </div>

    {% else %}
        <p>Brak ofert spełniających jakiekolwiek kryteria.</p>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>

        $('#confirm-delete').on('show.bs.modal', function(e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        });

    </script>
{% endblock %}
