{% extends "emails/user_layout.html" %}

{% load staticfiles %}

{% block title %}Resetowanie hasła{% endblock %}

{% block email_content %}
    <center>
        <img src="{{ protocol }}://{{ domain }}{% static 'volontulo/img/doodle_reg_confirm.png' %}"><br>
        <br>
        <b>Została złożona prośba resetu hasła dla użytkownika</b><br>
        <b>{{ email }}</b><br>
        <br>
        Zmiany możesz dokonać za pomocą poniższego linku:<br>
        <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Resetuj hasło</a>
    </center>
{% endblock %}

{% block email_info_details %}
    {% include "emails/site_owner_details.html" %}
{% endblock %}
