{% load staticfiles %}

{% block info_content %}
    Zapraszamy do Centrum Wolontariatu na dyżury dla wolontariuszy i organizatorów wolontariatu. Odbywają się one w każdy <b>wtorek w godz. 16:00 - 18:00</b> lub w <b>czwartek w godz. 16:00 - 18:00</b> w <b>Centrum Bukowska</b> (ul. Bukowska 27/29).<br>
    <br>
    Z pozdrowieniami<br>
    Zespół Centrum Wolontariatu w Poznaniu<br>
    ul. Bukowska 27/29, 60-501 Poznań<br>
    tel. 61 85 30 930, 61 62 32 145<br>
    <a href="mailto:wolontariat@wrk.org.pl">wolontariat@wrk.org.pl</a>, <a href="www.wolontariat.wrk.org.pl">www.wolontariat.wrk.org.pl</a><br>
    <br>
    Wielkopolska Rada Koordynacyjna Związek Organizacji Pozarządowych (<a href="www.wrk.org.pl">www.wrk.org.pl</a>) należy do Ogólnopolskiej Sieci Centrów Wolontariatu i prowadzi Regionalne Centrum Wolontariatu w Poznaniu.
{% endblock %}
