{% if offers %}
    <h2>Oferty w których zamierzasz wziąć udział</h2>
    <table class="table table-stripped table-bordered">
        <tr>
            <th>ID</th>
            <th>Tytuł oferty</th>
            <th>Rozpoczęcie akcji</th>
            <th>Czas trwania</th>
            <th>Organizacja</th>
        </tr>
    {% for offer in offers %}
        <tr>
            <th>{{ offer.id }}</th>
            <th><a href="{% url 'show_offer' offer.id %}" class="btn btn-link">{{ offer.title }}</a></th>
            <th>{{ offer.time_commitment }}</th>
            <th>{{ offer.time_period }}</th>
            <th><a href="{% url 'organization_view' slug=offer.organization.name|slugify organization_id=offer.organization.id %}" class="btn btn-link">{{ offer.organization.name }}</a></th>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>Nie wyraziłeś chęci udziału w żadnej z dostępnych ofert.</p>
{% endif %}
