{% extends "common/col2.html" %}

{% block title %}Tworzenie oferty dla wolontariuszy{% endblock %}

{% block content %}
    <form id="offer_form" class="form-horizontal" method="post" action="{% url 'offer_form' %}" role="form" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Tworzenie oferty "{{ organization.name }}" dla wolontariuszy</h2>
        <div class="form-group form-group-sm">
            <label class="col-xs-offset-6 col-xs-2 control-label" for="{{ offer_form.status.id_for_label }}">Status</label>
            <div class="col-xs-4">
                <select name="status" class="form-control" id="{{ offer_form.status.id_for_label }}">
                    <option value="STAGED">Aktywna</option>
                    <option value="UNSTAGED">Wstrzymana</option>
                </select>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-xs-2 control-label" for="{{ offer_form.title.id_for_label }}">Tytuł</label>
            <div class="col-xs-4">
                <input type="text" value="" name="title" class="form-control" id="{{ offer_form.title.id_for_label }}" />
            </div>
            <label class="col-xs-2 control-label" for="{{ offer_form.location.id_for_label }}">Lokalizacja</label>
            <div class="col-xs-4">
                <input type="text" value="" name="location" class="form-control" id="{{ offer_form.location.id_for_label }}" />
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-xs-2 control-label" for="{{ offer_form.time_commitment.id_for_label }}">Wymagania czasowe</label>
            <div class="col-xs-4">
                <input type="text" value="" name="time_commitment" class="form-control" id="{{ offer_form.time_commitment.id_for_label }}" />
            </div>
            <label class="col-xs-2 control-label" for="{{ offer_form.time_period.id_for_label }}">Dzień rozpoczęcia</label>
            <div class="col-xs-4">
                <input type="text" value="" name="time_period" class="form-control" id="{{ offer_form.time_period.id_for_label }}" />
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-xs-offset-6 col-xs-2 control-label" for="{{ offer_form.time_period_end.id_for_label }}">Dzień Zakończenia</label>
            <div class="col-xs-4">
                <input type="text" value="" name="time_period_end" class="form-control" id="{{ offer_form.time_period_end.id_for_label }}" />
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-xs-2 control-label" for="{{ offer_form.description.id_for_label }}">Opis</label>
            <div class="col-xs-10">
                <textarea class="form-control" rows="3" name="description" id="{{ offer_form.description.id_for_label }}"></textarea>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-xs-2 control-label" for="{{ offer_form.benefits.id_for_label }}">Korzyści</label>
            <div class="col-xs-4">
                <textarea class="form-control" rows="3" name="benefits" id="{{ offer_form.benefits.id_for_label }}"></textarea>
            </div>
            <label class="col-xs-2 control-label" for="{{ offer_form.requirements.id_for_label }}">Wymagania</label>
            <div class="col-xs-4">
                <textarea class="form-control" rows="3" name="requirements" id="{{ offer_form.requirements.id_for_label }}"></textarea>
            </div>
        </div>

        <div class="form-group form-group-sm">
            <div class="col-xs-offset-2 col-xs-10">
                <input type="hidden" value="{{ organization.id }}" name="organization" />
                <button type="submit" name="submit" class="btn btn-primary">Zapisz ofertę</button>
            </div>
        </div>
    </form>
{% endblock %}
