{% extends "common/col2.html" %}

{% block title %}Lista ofert Volontulo{% endblock %}

{% block sidebar %}
    <ul class="list-unstyled">
        <li><a href="{% url 'show_offer' 'WRK' 1 %}">Oferta 1</a></li>
        <li><a href="{% url 'show_offer' 'WRK' 2 %}">Oferta 2</a></li>
        <li><a href="{% url 'show_offer' 'WRK' 3 %}">Oferta 3</a></li>
        <li><a href="{% url 'show_offer' 'WRK' 4 %}"><strong>Oferta 4</strong></a></li>
        <li><a href="{% url 'show_offer' 'WRK' 5 %}">Oferta 5</a></li>
        <li><a href="{% url 'show_offer' 'WRK' 6 %}">Oferta 6</a></li>
        <li><a href="{% url 'show_offer' 'WRK' 7 %}">Oferta 7</a></li>
        <li><a href="{% url 'show_offer' 'WRK' 8 %}">Oferta 8</a></li>
    </ul>
    <div>
        <a href="{% url "offer_apply" 1 %}" class="btn btn-primary btn-lg">Zgłoś się do wolontariatu</a>
    </div>
{% endblock %}


{% block content %}
    <h2>Szczegóły wybranej oferty</h2>
    <table class="table table-stripped">
        <tr><th>Tytuł</th><td>{{ offer.title }}</td></tr>
        <tr><th>Miejsce</th><td>{{ offer.location }}</td></tr>
        <tr><th>Czas obowiązywania</th><td>{{ offer.time_period }}</td></tr>
        <tr><th>Organizacja</th><td>{{ offer.organization.name }}</td></tr>
        <tr><th>Opis szczegółowy</th><td>{{ offer.description }}</td></tr>
        <tr><th>Wymogi względem wolontariusza</th><td>{{ offer.requirements }}</td></tr>
        <tr><th>Wymagania zaangażowania czasowego</th><td>{{ offer.time_commitment }}</td></tr>
        <tr><th>Korzyści dla wolontariusza</th><td>{{ offer.benefits }}</td></tr>
    </table>

    {% if user.is_administrator %}
        {% include 'volontulo/volunteers.html' with volunteers=volunteers %}
    {% endif %}

{% endblock %}
