{% if volunteers %}
    <h2>Lista wolontariuszy, którzy zgłosili chęć pomocy</h2>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Imię i nazwisko</th>
            <th>Email</th>
            <th>Kontakt</th>
        </tr>
        {% for volunteer in volunteers %}
        <tr>
            <td>{{ volunteer.id }}</td>
            <td>{{ volunteer.first_name }} {{ volunteer.last_name }}</td>
            <td>{{ volunteer.email }}</td>
            <td><a href="" class="btn btn-sm btn-primary">Formularz kontaktowy</a></td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Dla tej oferty nie ma jeszcze zgłoszeń wolontariuszy.</p>
{% endif %}