{% extends "common/col1.html" %}
{% load bootstrap3 %}

{% block title %}Strona użytkownika {{ user.email }}{% endblock %}

{% block content-heading %}
    <div class="media panel panel-default">
        <div class="panel-heading media-heading lead">Użytkownik: {{ user.email }}</div>
        <div class="panel-body">
            <div class="media-left">
                <p><img src="{{ MEDIA_URL }}{{ userprofile.get_avatar.0.image }}" alt="{{ user.username }}" class="img-circle" width="100" height="100" /></p>
            </div>
            <div class="media-body media-middle">
                <ul class="list-unstyled">
                    <li><strong>Real User ID:</strong> <span class="badge">{{ user.id }}</span></li>
                    <li><strong>UserProfile ID:</strong> <span class="badge">{{ user.userprofile.id }}</span></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading lead">Edycja profilu użytkownika</div>
        <div class="panel-body">
            <form action="{{ request.path }}" method="post" role="form">
                {% csrf_token %}
                {% bootstrap_form profile_form %}
                <div class="btn-form">
                    <button type="submit" name="submit" value="save_profile" class="btn btn-success">Zapisz zmiany</button>
                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading lead">Avatar użytkownika</div>
        <div class="panel-body">
            {% include 'users/gallery.html' with image=image %}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading lead">Szczegóły użytkownika</div>
        <div class="panel-body">
            <p><a href="{% url 'offers_create' %}">...dodać ofertę</a></p>
            {% include 'organizations/organization_offers.html' with offers=offers %}
            <hr />
            {% include 'common/badges.html' with badges=badges %}
            <hr />
            {% include 'users/my_offers.html' with offers=offers %}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading lead">Galeria organizacji</div>
        <div class="panel-body">
            {% include 'organizations/gallery.html' with image_form=image_form gallery=gallery %}
        </div>
    </div>

    <p class="pull-right"><a href="{% url 'logout' %}" class="btn btn-default">Wyloguj</a></p>
{% endblock %}
