{% extends "common/col1.html" %}

{% block title %}Strona użytkownika {{ user.email }}{% endblock %}

{% block content %}
    <h2>Strona użytkownika {{ user.email }}</h2>
    <p><img src="{{ MEDIA_URL }}{{ userprofile.get_avatar.0.image }}" alt="{{ user.username }}" class="img-circle" width="100" height="100" /></p>
    <p><strong>Real User ID:</strong> {{ user.id }} - <strong>UserProfile ID:</strong> {{ user.userprofile.id }}</p>

    {% if user.userprofile.organizations.count %}
        <h2>Jako organizacja chciałbym ...</h2>
        <p><a href="{% url 'offers_create' %}">...dodać ofertę</a></p>
        {% include 'organizations/organization_offers.html' with offers=offers %}
    {% endif %}

    {% if not user.userprofile.organizations.count %}
        <h2>Jako wolontariusz chciałbym ...</h2>
        {% include 'common/badges.html' with badges=badges %}
        {% include 'users/my_offers.html' with offers=offers %}

        {% include 'users/gallery.html' with image=image %}

    {% endif %}

    <p><a href="{% url 'logout' %}" class="btn btn-primary">Wyloguj</a></p>
{% endblock %}
