{% load bootstrap3 %}
{% bootstrap_css %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block page_title %}Volontulo{% endblock %}</title>
    </head>

    <body>
        <script>document.body.style += ' js';</script>

        <div class="container">
            {% include "common/header.html" %}
            {% include "common/messages.html" %}
            {% block layout %}
            {% endblock %}
        </div>

        {% block scripts %}
            <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        {% endblock %}

        {% bootstrap_javascript %}
    </body>
</html>
