{% extends "common/col1.html" %}

{% block title %}Volontulo - podejmij pracę jako wolontariusz{% endblock %}

{% block content-heading %}
    <img class="img-responsive center-block" src="http://placehold.it/1140x260?text=Albo+jeden+duży+banner" />
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-4 text-center">
            <img class="img-responsive center-block" src="http://placehold.it/260x260?text=Załóż+konto" />
            <p><a href="{% url 'register' %}">Załóż konto</a></p>
        </div>
        <div class="col-xs-4 text-center">
            <img class="img-responsive center-block" src="http://placehold.it/260x260?text=Wybierz ofertę" />
            <p><a href="{% url 'offers_list' %}">Wybierz ofertę</a></p>
        </div>
        <div class="col-xs-4 text-center">
            <img class="img-responsive center-block" src="http://placehold.it/260x260?text=Podziel+się" />
            <p><a href="#">Podziel się...</a></p>
        </div>
    </div>

    {% if offers %}
        <h2>Lista ofert</h2>
        <div class="row">
        {% for o in offers %}
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="http://placehold.it/260x260?text=fota+mobilizująca" />
                    <div class="caption">
                        <div class="media panel-default">
                            <div class="media-left panel-heading">
                                <span aria-hidden="true" class="glyphicon glyphicon-time"></span>
                            </div>
                            <div class="media-body panel-body">
                                {{ o.location }}
                            </div>
                        </div>
                        <div class="media panel-default">
                            <div class="media-left panel-heading">
                                <span aria-hidden="true" class="glyphicon glyphicon-time"></span>
                            </div>
                            <div class="media-body panel-body">
                                {{ o.time_period }}
                            </div>
                        </div>
                        <h3><a href="{% url 'offers_view' o.title|slugify o.id %}">{{ o.title }}</a></h3>
                        <p>Organizator:<a href="{% url 'organization_view' slug=o.organization.name|slugify id_=o.organization.id %}">{{ o.organization.name }}</a></p>
                        <p class="text-right"><a role="button" class="btn btn-warning" href="{% url 'offers_view' o.title|slugify o.id %}">Pomóż</a></p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <p>Brak ofert spełniających podane kryteria</p>
    {% endif %}

{% endblock %}
