{% extends "common/col1.html" %}

{% block title %}Często zadawane pytania przez{% endblock %}

{% block content %}
    <h2>Często zadawane pytania przez <strong>organizatorów</strong></h2>
    <div class="media">
        <div class="media-left">
            <img src="https://placeholdit.imgix.net/~text?txtsize=14&amp;txt=Symbol+80x80px&amp;w=80&amp;h=80&amp;txttrack=0" alt="symbol">
        </div>
        <div class="media-body">
            <h3 class="media-heading"><span class="label label-primary">Pytanie</span><strong>Czy niebo jest niebieskie</strong></h3>
            <p><span class="label label-info">Odpowiedź</span> Tak, ale Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
            <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </div>
    </div>
{% endblock %}
