{% extends "common/col2.html" %}

{% block title %}Volontulo - Strona główna{% endblock %}

{% block sidebar %}
<ul class="list-unstyled">
    <li><a href="{% url 'show_offer' 1 %}">Oferta 1</a></li>
    <li><a href="{% url 'show_offer' 2 %}">Oferta 2</a></li>
    <li><a href="{% url 'show_offer' 3 %}">Oferta 3</a></li>
    <li><a href="{% url 'show_offer' 4 %}">Oferta 4</a></li>
    <li><a href="{% url 'show_offer' 5 %}">Oferta 5</a></li>
    <li><a href="{% url 'show_offer' 6 %}">Oferta 6</a></li>
    <li><a href="{% url 'show_offer' 7 %}">Oferta 7</a></li>
    <li><a href="{% url 'show_offer' 8 %}">Oferta 8</a></li>
</ul>
{% endblock %}

{% block content %}
    {% if not offers %}

<ul class="list-unstyled">
    <li>
        <h2 class="title"><a href="{% url 'show_offer' 1 %}">Oferta 1</a></h2>
        <div class="content">
            <p class="image"><img src="https://placehold.it/120x120" alt="Oferta 1"></p>
            <p>Lorem ipsum dolor sit amet dolor. Pellentesque molestie ultricies pretium. Vestibulum ligula. Etiam fringilla massa in felis non enim vulputate aliquam pharetra porttitor eros, sagittis lacus at purus. Duis sed felis. Integer ac purus. Nulla pellentesque accumsan. In laoreet vulputate imperdiet, neque scelerisque condimentum ante. Lorem ipsum primis in lacus iaculis ante, porta dolor ut nulla. Suspendisse potenti. Vestibulum ante ipsum dolor sit amet dolor. Ut bibendum tellus, condimentum magna diam, suscipit elementum in, iaculis nec, eros. Sed lobortis quis, blandit vel, dapibus risus. Phasellus a odio et mi. Suspendisse dapibus quam ipsum, tempor enim vel ipsum ac lectus. Vestibulum tortor nibh, volutpat massa in neque. Praesent wisi diam vitae augue. <a href="{% url 'show_offer' 1 %}">więcej</a></p>
        </div>
    </li>
    <li>
        <h2 class="title"><a href="{% url 'show_offer' 2 %}">Oferta 2</a></h2>
        <div class="content">
            <p class="image"><img src="https://placehold.it/120x120" alt="Oferta 2"></p>
            <p>Lorem ipsum dolor sit amet dolor. Pellentesque molestie ultricies pretium. Vestibulum ligula. Etiam fringilla massa in felis non enim vulputate aliquam pharetra porttitor eros, sagittis lacus at purus. Duis sed felis. Integer ac purus. Nulla pellentesque accumsan. In laoreet vulputate imperdiet, neque scelerisque condimentum ante. Lorem ipsum primis in lacus iaculis ante, porta dolor ut nulla. Suspendisse potenti. Vestibulum ante ipsum dolor sit amet dolor. Ut bibendum tellus, condimentum magna diam, suscipit elementum in, iaculis nec, eros. Sed lobortis quis, blandit vel, dapibus risus. Phasellus a odio et mi. Suspendisse dapibus quam ipsum, tempor enim vel ipsum ac lectus. Vestibulum tortor nibh, volutpat massa in neque. Praesent wisi diam vitae augue. <a href="{% url 'show_offer' 2 %}">więcej</a></p>
        </div>
    </li>
    <li>
        <h2 class="title"><a href="{% url 'show_offer' 3 %}">Oferta 3</a></h2>
        <div class="content">
            <p class="image"><img src="https://placehold.it/120x120" alt="Oferta 1"></p>
            <p>Lorem ipsum dolor sit amet dolor. Pellentesque molestie ultricies pretium. Vestibulum ligula. Etiam fringilla massa in felis non enim vulputate aliquam pharetra porttitor eros, sagittis lacus at purus. Duis sed felis. Integer ac purus. Nulla pellentesque accumsan. In laoreet vulputate imperdiet, neque scelerisque condimentum ante. Lorem ipsum primis in lacus iaculis ante, porta dolor ut nulla. Suspendisse potenti. Vestibulum ante ipsum dolor sit amet dolor. Ut bibendum tellus, condimentum magna diam, suscipit elementum in, iaculis nec, eros. Sed lobortis quis, blandit vel, dapibus risus. Phasellus a odio et mi. Suspendisse dapibus quam ipsum, tempor enim vel ipsum ac lectus. Vestibulum tortor nibh, volutpat massa in neque. Praesent wisi diam vitae augue. <a href="{% url 'show_offer' 3 %}">więcej</a></p>
        </div>
    </li>
    <li>
        <h2 class="title"><a href="{% url 'show_offer' 4 %}">Oferta 4</a></h2>
        <div class="content">
            <p class="image"><img src="https://placehold.it/120x120" alt="Oferta 1"></p>
            <p>Lorem ipsum dolor sit amet dolor. Pellentesque molestie ultricies pretium. Vestibulum ligula. Etiam fringilla massa in felis non enim vulputate aliquam pharetra porttitor eros, sagittis lacus at purus. Duis sed felis. Integer ac purus. Nulla pellentesque accumsan. In laoreet vulputate imperdiet, neque scelerisque condimentum ante. Lorem ipsum primis in lacus iaculis ante, porta dolor ut nulla. Suspendisse potenti. Vestibulum ante ipsum dolor sit amet dolor. Ut bibendum tellus, condimentum magna diam, suscipit elementum in, iaculis nec, eros. Sed lobortis quis, blandit vel, dapibus risus. Phasellus a odio et mi. Suspendisse dapibus quam ipsum, tempor enim vel ipsum ac lectus. Vestibulum tortor nibh, volutpat massa in neque. Praesent wisi diam vitae augue. <a href="{% url 'show_offer' 4 %}">więcej</a></p>
        </div>
    </li>
    <li>
        <h2 class="title"><a href="{% url 'show_offer' 5 %}">Oferta 1</a></h2>
        <div class="content">
            <p class="image"><img src="https://placehold.it/120x120" alt="Oferta 5"></p>
            <p>Lorem ipsum dolor sit amet dolor. Pellentesque molestie ultricies pretium. Vestibulum ligula. Etiam fringilla massa in felis non enim vulputate aliquam pharetra porttitor eros, sagittis lacus at purus. Duis sed felis. Integer ac purus. Nulla pellentesque accumsan. In laoreet vulputate imperdiet, neque scelerisque condimentum ante. Lorem ipsum primis in lacus iaculis ante, porta dolor ut nulla. Suspendisse potenti. Vestibulum ante ipsum dolor sit amet dolor. Ut bibendum tellus, condimentum magna diam, suscipit elementum in, iaculis nec, eros. Sed lobortis quis, blandit vel, dapibus risus. Phasellus a odio et mi. Suspendisse dapibus quam ipsum, tempor enim vel ipsum ac lectus. Vestibulum tortor nibh, volutpat massa in neque. Praesent wisi diam vitae augue. <a href="{% url 'show_offer' 5 %}">więcej</a></p>
        </div>
    </li>
    <li>
        <h2 class="title"><a href="{% url 'show_offer' 6 %}">Oferta 6</a></h2>
        <div class="content">
            <p class="image"><img src="https://placehold.it/120x120" alt="Oferta 1"></p>
            <p>Lorem ipsum dolor sit amet dolor. Pellentesque molestie ultricies pretium. Vestibulum ligula. Etiam fringilla massa in felis non enim vulputate aliquam pharetra porttitor eros, sagittis lacus at purus. Duis sed felis. Integer ac purus. Nulla pellentesque accumsan. In laoreet vulputate imperdiet, neque scelerisque condimentum ante. Lorem ipsum primis in lacus iaculis ante, porta dolor ut nulla. Suspendisse potenti. Vestibulum ante ipsum dolor sit amet dolor. Ut bibendum tellus, condimentum magna diam, suscipit elementum in, iaculis nec, eros. Sed lobortis quis, blandit vel, dapibus risus. Phasellus a odio et mi. Suspendisse dapibus quam ipsum, tempor enim vel ipsum ac lectus. Vestibulum tortor nibh, volutpat massa in neque. Praesent wisi diam vitae augue. <a href="{% url 'show_offer' 6 %}">więcej</a></p>
        </div>
    </li>
    <li>
        <h2 class="title"><a href="{% url 'show_offer' 7 %}">Oferta 7</a></h2>
        <div class="content">
            <p class="image"><img src="https://placehold.it/120x120" alt="Oferta 1"></p>
            <p>Lorem ipsum dolor sit amet dolor. Pellentesque molestie ultricies pretium. Vestibulum ligula. Etiam fringilla massa in felis non enim vulputate aliquam pharetra porttitor eros, sagittis lacus at purus. Duis sed felis. Integer ac purus. Nulla pellentesque accumsan. In laoreet vulputate imperdiet, neque scelerisque condimentum ante. Lorem ipsum primis in lacus iaculis ante, porta dolor ut nulla. Suspendisse potenti. Vestibulum ante ipsum dolor sit amet dolor. Ut bibendum tellus, condimentum magna diam, suscipit elementum in, iaculis nec, eros. Sed lobortis quis, blandit vel, dapibus risus. Phasellus a odio et mi. Suspendisse dapibus quam ipsum, tempor enim vel ipsum ac lectus. Vestibulum tortor nibh, volutpat massa in neque. Praesent wisi diam vitae augue. <a href="{% url 'show_offer' 7 %}">więcej</a></p>
        </div>
    </li>
</ul>
<nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
    {% else %}
        <p>Brak ofert spełaniających kryteria</p>
    {% endif %}
{% endblock %}