{% extends "common/col1.html" %}
{% load main_image %}

{% block title %}Lista ofert Volontulo{% endblock %}

{% block content %}
    {% if offers %}
        <h2>Lista ofert</h2>
        <table class="table table-striped offer-table">
            <tr>
                <th></th>
                <th>Tytuł</th>
                <th>Miejsce</th>
                <th>Czas obowiązywania</th>
                <th>Nazwa organizacji</th>
                <th></th>
            </tr>
        {% for o in offers %}
            <tr>
                <td>
                    <a class="crop-circle" href="{% url 'offers_view' o.title|slugify o.id  %}">
                        <img src="/media/{{ o.images.all|main_image }}" alt="{{o.images.all|slugify|default:''}}" />
                    </a>
                </td>
                <td>
                    <a class="btn btn-link" href="{% url 'offers_view' o.title|slugify o.id  %}">{{ o.title }}</a>
                </td>
                <td>
                    <div class="form-control-static">{{ o.location }}</div>
                </td>
                <td>
                    <div class="form-control-static">
                        <span class="is-inline_block">{{ o.started_at }}</span> - <span class="is-inline_block">{{ o.finished_at }}</span>
                    </div>
                </td>
                <td>
                    <a href="{% url 'organization_view' o.organization.name|slugify o.organization.id %}" class="btn btn-link">{{ o.organization.name }}</a>
                </td>
                <td class="text-right">
                {% if user.userprofile.is_administrator %}
                    {% if o.offer_status == 'unpublished' %}
                    <form id="offer_{{ o.id }}_activate" method="post" action="{% url 'offers_list' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" value="{{ o.id }}" name="offer_id" />
                        <input type="hidden" value="status_change" name="edit_type" />
                        <button type="submit" name="submit" class="btn btn-primary">Aktywuj</button>
                    </form>
                    {% endif %}
                {% elif o.offer_status == 'published' %}
                    <a class="btn btn-warning" href="{% url 'offers_view' o.title|slugify o.id %}"><b>Włącz się</b></a>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>Brak ofert spełniających podane kryteria</p>
    {% endif %}

{% endblock %}
