{% extends "common/col1.html" %}

{% block title %}Lista ofert Volontulo{% endblock %}

{% block content %}
    {% if offers %}
        <h2>Lista ofert</h2>
        <table class="table table-striped">
            <tr>
                <th>Miejsce</th>
                <th>Tytuł</th>
                <th>Nazwa organizacji</th>
                <th>Czas obowiązywania</th>
                <th></th>
            </tr>
        {% for o in offers %}
            <tr>
                <td>{{ o.location }}</td>
                <td>{{ o.title }}</td>
                <td>{{ o.organization.name }}</td>
                <td>{{ o.time_period }}</td>
                <td>
                {% if user.userprofile.is_administrator %}
                    {% if o.offer_status == 'unpublished' %}
                    <form id="offer_{{ o.id }}_activate" method="post" action="{% url 'offers_list' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" value="{{ o.id }}" name="offer_id" />
                        <input type="hidden" value="status_change" name="edit_type" />
                        <button type="submit" name="submit" class="btn btn-primary">Aktywuj</button>
                    </form>
                    {% endif %}
                {% elif o.offer_status == 'published' %}
                    <a href="{% url 'offers_view' o.title|slugify o.id %}">Pomóż</a>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>Brak ofert spełniających podane kryteria</p>
    {% endif %}

{% endblock %}
