{% extends "common/col1.html" %}
{% load main_image %}

{% block title %}Lista ofert Volontulo{% endblock %}

{% block content %}
    {% if offers %}
        <h2>Lista ofert</h2>
        <table class="table table-striped offer-table">
            <tr>
                <th></th>
                <th>Tytuł</th>
                <th>Miejsce</th>
                <th>Czas obowiązywania</th>
                <th>Nazwa organizacji</th>
                <th></th>
            </tr>
        {% for offer in offers %}
            <tr>
                <td>
                    <a class="crop-circle" href="{% url 'offers_view' offer.title|slugify offer.id  %}">
                        <img src="/media/{{ offer.images.all|main_image }}" alt="{{offer.images.all|slugify|default:''}}" />
                    </a>
                </td>
                <td>
                    <a class="btn btn-link" href="{% url 'offers_view' offer.title|slugify offer.id  %}">{{ offer.title }}</a>
                </td>
                <td>
                    <div class="form-control-static">{{ offer.location }}</div>
                </td>
                <td>
                    <div class="form-control-static">
                        <span class="is-inline_block">{{ offer.started_at|date:'j E Y, G:m'|default:' teraz' }}</span> -
                        <span class="is-inline_block">{{ offer.finished_at|date:'j E Y, G:m'|default:' do ustalenia' }}</span>
                    </div>
                </td>
                <td>
                    <div class="form-control-static"><a href="{% url 'organization_view' offer.organization.name|slugify offer.organization.id %}" class="btn btn-link">{{ offer.organization.name }}</a></div>
                </td>
                <td class="text-right">
                {% if user.userprofile.is_administrator %}
                    {% if offer.offer_status == 'unpublished' %}
                    <form id="offer_{{ offer.id }}_activate" method="post" action="{% url 'offers_list' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" value="{{ offer.id }}" name="offer_id" />
                        <input type="hidden" value="status_change" name="edit_type" />
                        <button type="submit" name="submit" class="btn btn-primary">Aktywuj</button>
                    </form>
                    {% endif %}
                {% elif offer.offer_status == 'published' %}
                    <a class="btn btn-warning" href="{% url 'offers_view' offer.title|slugify offer.id %}"><b>Włącz się</b></a>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>Brak ofert spełniających podane kryteria</p>
    {% endif %}

{% endblock %}
