{% extends "common/col1.html" %}
{% load offer_utilities %}

{% block title %}Oferta {{ offer.title }}{% endblock %}

{% block content-heading %}
<div class="offer_view">
    <img class="img-responsive center-block" src="{{ MEDIA_URL }}{{ main_image|default:'' }}" alt="{{ offer.title|safe }}" />
    <div class="panels">
        <div class="offer-title">
            <h2 class="title">{{ offer.title }}</h2>
            {% if user.userprofile|can_edit_offer:offer %}
                <a href="{% url 'offers_edit' offer.title|slugify offer.id %}" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edytuj ofertę
                </a>
            {% endif %}
        </div>
        <div class="clearfix"></div>
        <div class="media panel-default">
            <div class="media-left panel-heading">
                <span aria-hidden="true" class="glyphicon glyphicon-map-marker"></span>
            </div>
            <div class="media-body panel-body">
                {{ offer.location }}
            </div>
        </div>
        <div class="clearfix hidden-sm hidden-md hidden-lg"></div>
        <div class="media panel-default">
            <div class="media-left panel-heading">
                <span aria-hidden="true" class="glyphicon glyphicon-time"></span>
            </div>
            <div class="media-body panel-body">
                {{ offer.started_at }} - {{ offer.finished_at }}
            </div>
        </div>
        <div class="clearfix hidden-sm hidden-md hidden-lg"></div>
        <div class="addthis_sharing_toolbox"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8">
            <div class="media row">
                <div class="media-body">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {{ offer.description }}
                        </div>
                    </div>
                </div>
                <div class="media-right media-bottom col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Korzyści dla wolontariusza</h3>
                        </div>
                        <div class="panel-body">
                            <p>{{ offer.benefits }}</p>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Wymagania wobec wolontariusza</h3>
                        </div>
                        <div class="panel-body">
                            <p>{{ offer.requirements }}</p>
                        </div>
                        <div class="panel-heading">
                            <h3>Zaangażowanie czasowe</h3>
                        </div>
                        <div class="panel-body">
                            <p>{{ offer.time_commitment }}</p>
                        </div>
                    </div>
                </div>
            </div>

            {% if volunteers %}
                {% include 'offers/applied_volunteers.html' with volunteers=volunteers %}
            {% endif %}

        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="panel panel-danger text-center">
                <div class="panel-heading">
                    <h3>Możesz pomóc?</h3>
                    <p>Twoja pomoc jest ważna. <b>Potrzebujemy Ciebie!</b></p>
                    <a href="{% url "offers_join" offer.title|slugify offer.id %}" class="btn btn-default btn-lg">Zgłoś się na ten wolontariat</a>
                </div>
                <div class="panel-footer">
                    <p>Rekrutacja trwa do <b>{{offer.recruitment_end_date}}</b></p>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Organizator</h3>
                </div>
                <div class="panel-body">
                    <p>
                        <a class="btn btn-link" href="{% url 'organization_view' offer.organization.name|slugify offer.organization.id %}">{{ offer.organization.name }}</a>
                    </p>
                </div>
            </div>
         </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-563108a02fc94ff9" async="async"></script>
{% endblock %}
