{% block footer %}
    <div class="row">
        <h2>Footer</h2>
        <div class="col-xs-12">
            <ul>
                <li><a href="{% url 'index' %}">Strona główna</a></li>
                <li><a href="{% url 'register' %}">Rejestracja</a></li>
                <li><a href="{% url 'organization_view' 1 %}">Widok organizacji</a></li>
                <li><a href="{% url 'organization_form' %}">Edycja organizacji</a></li>
                <li><a href="{% url 'offer_apply' 1 %}">Zgłoś chęć współpracy przy ofercie</a></li>
                <li><a href="{% url 'contact_form' %}">Kontakt z administratorem</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
