{% load staticfiles %}

{% block header %}
    {% block social_nav %}
    <div class="row">
        <div class="col-xs-12 text-right">
        Additional nav elements, e.g. social links leading to other sites (probable, but not sure)
        </div>
    </div>
    {% endblock %}

    {% block navigations %}
    <div class="row">
        <div class="col-xs-12">
            <h1 class="navbar-header">
                <a href="{% url 'index' %}">
                    <img src="{% static "volontulo/img/volo_logo.svg" %}" alt="Volontulo">
                    Volontulo
                </a>
            </h1>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_anonymous and not user.is_authenticated  %}
                <li>
                    <a href="{% url 'login' %}">Zaloguj</a>
                </li>
                <li>
                    <a href="{% url 'register' %}">Nowe konto</a>
                </li>
                {% else %}
                <li class="dropdown">
                    <a class="dropdown-toggle" href="{% url 'logged_user_profile' %}" aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown">
                        Witaj, {{ user.email }}!
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'logged_user_profile' %}">Moje konto</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% endblock %}
{% endblock %}
