//
// Global Customization
// --------------------------------------------------

.is-inline_block {
    display: inline-block;
}

th,
label {
    font-weight: 600;
}

// section header
.header {
    .navbar-header {
        margin: 0;
    }
    .navbar-right {
        .navbar-text {
            display: inline-block;
            float: none;
        }
    }
    .messages {
        .alert:first-child {
            margin-top: $line-height-computed;
        }
    }
}

// section content-heading
.content-heading {
    position: relative;
    background: $lightgray-light;
    &:after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        max-height: 100%;
        height: 4em;
        background: linear-gradient(to bottom, 
                    rgba(black, 0) 0%, 
                    rgba(black, .06) 80%, 
                    rgba(black, .1) 100%);
    }
}
// section content
.content {
    min-height: 60vh;
    background: $lightgray-light;
}

// section footer
.footer {
    min-height: 35vh;
    padding-bottom: 10vh;
    background-color: $darkgray-dark;
    color: $mediumgray-dark;
    .nav-title {
        font-weight: 600;
        font-size: 15px;
        text-transform: uppercase;
        color: $lightgray-dark;
    }
    .list-unstyled {
        > li {
            padding: .3em 0;
            a {
                color: $mediumgray-dark;
                &:hover {
                    color: $mediumgray-light;
                    text-decoration: none;
                }
            }
        }
    }
}

// offer-thumbnails
.offer-thumbnails {
    .thumbnail {
        font-size: 12px;
        .heading-image {
            position: relative;
            margin-bottom: -35%;
            &:after {
                content: "";
                position: absolute;
                bottom: 0px;
                left: 0px;
                right: 0px;
                max-height: 100%;
                height: 4em;
                background: linear-gradient(to bottom, 
                            rgba(white, 0) 0%, 
                            rgba(white, .4) 60%, 
                            rgba(white, 1) 100%);
            }
        }
    }
    .btn {
        position: relative;
    }
    .media {
        position: relative;
        @include box-shadow(0 0 1px rgba(black, .1));
            margin-top: .5em;
        + .media {
        }
        .media-left {
            padding: 0px;
            min-width: 28px;
            line-height: 28px;
            font-size: 16px;
            text-align: center;
            .glyphicon {
                top: 2px;
            }
        }
        .media-body {
            padding: 6px;
        }
    }
}

// offer_view
.offer_view {
    position: relative;
    overflow: hidden;
    height: 300px;
    img {
        position: absolute;
        width: 100%;
        bottom: 0px;
        right: 0px;
        left: 0px;
    }
    .panels {
        position: absolute;
        bottom: 30px;
        left: 30px;
        .media {
            float: left;
            margin: 0 30px 0 0;
            .media-left {
                opacity: .92;
                line-height: .5;
                .glyphicon {
                    font-size: 24px;
                }
            }
            .media-body {
                width: auto;
                font-size: 16px;
                background: rgba(white, .92);
            }
        }
    }
}
