//
// Global Customization
// --------------------------------------------------

// bootflat color elements
$white:                       #FFF !default;
$black:                       #000 !default;

$bluejeans-dark:              #4A89DC !default;
$bluejeans-light:             #5D9CEC !default;

$aqua-dark:                   #3BAFDA !default;
$aqua-light:                  #4FC1E9 !default;

$mint-dark:                   #37BC9B !default;
$mint-light:                  #48CFAD !default;

$grass-dark:                  #8CC152 !default;
$grass-light:                 #A0D468 !default;

$sunflower-dark:              #F6BB42 !default;
$sunflower-light:             #FFCE54 !default;

$bittersweet-dark:            #E9573F !default;
$bittersweet-light:           #FC6E51 !default;

$grapefruit-dark:             #DA4453 !default;
$grapefruit-light:            #ED5565 !default;

$lavender-dark:               #967ADC !default;
$lavender-light:              #AC92EC !default;

$pinkrose-dark:               #D770AD !default;
$pinkrose-light:              #EC87C0 !default;

$lightgray-dark:              #E6E9ED !default;
$lightgray-light:             #F5F7FA !default;

$mediumgray-dark:             #AAB2BD !default;
$mediumgray-light:            #CCD1D9 !default;

$darkgray-dark:               #434A54 !default;
$darkgray-light:              #656D78 !default;

th,
label {
    font-weight: 600;
}

// section header
.header {
    .navbar-header {
        margin: 0;
    }
    .navbar-right {
        .navbar-text {
            display: inline-block;
            float: none;
        }
    }
    .messages {
        .alert:first-child {
            margin-top: $line-height-computed;
        }
    }
}

// section content-heading
.content-heading {
    position: relative;
    background: $lightgray-light;
    &:after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        max-height: 100%;
        height: 4em;
        background: linear-gradient(to bottom, 
                    rgba(black, 0) 0%, 
                    rgba(black, .06) 80%, 
                    rgba(black, .1) 100%);
    }
}
// section content
.content {
    min-height: 60vh;
    background: $lightgray-light;
}

// section footer
.footer {
    min-height: 35vh;
    padding-bottom: 10vh;
    background-color: $darkgray-dark;
    color: $mediumgray-dark;
    .nav-title {
        font-weight: 600;
        font-size: 15px;
        text-transform: uppercase;
        color: $lightgray-dark;
    }
    .list-unstyled {
        > li {
            padding: .3em 0;
            a {
                color: $mediumgray-dark;
                &:hover {
                    color: $mediumgray-light;
                    text-decoration: none;
                }
            }
        }
    }
}

// offer_view
.offer_view {
    position: relative;
    overflow: hidden;
    height: 300px;
    img {
        position: absolute;
        width: 100%;
        bottom: 0px;
        right: 0px;
        left: 0px;
    }
    .panels {
        position: absolute;
        bottom: 30px;
        left: 30px;
        .media {
            float: left;
            margin: 0 30px 0 0;
            .media-left {
                line-height: .5;
                font-size: 24px;
                opacity: .92;
            }
            .media-body {
                width: auto;
                font-size: 16px;
                padding-top: 10px;
                padding-bottom: 10px;
                background: rgba(white, .92);
            }
        }
    }
}
