//
// Extended bootstrap thumbnail 
// --------------------------------------------------

.thumbnail {
    border: 0;
    padding: 0;
    @include box-shadow(0 1px 2px rgba(black, .2));
    .heading-image {
        padding-top: 75%;
        background-position: center;
        background-size: cover;
        @include border-top-radius(3px);
    }
    h1, h2, h3, h4, h5, h6 {
        margin: 10px 0 10px;
        font-size: 16px;
        font-weight: bold;
    }
}
