//
// Extended bootstrap media 
// --------------------------------------------------

.media {
    &.row {
        .media-left,
        .media-right,
        .media-body {
            padding-left:  ($grid-gutter-width / 2);
            padding-right: ($grid-gutter-width / 2);
            float: none;
        }
    }
}
