//
// Extended bootstrap media 
// --------------------------------------------------

.media {
    display: table;
    height: 100%;
    .media-left,
    .media-right,
    .media-body {
        height: 100%;
    }
    &.row {
        .media-left,
        .media-right,
        .media-body {
            padding-left:  ($grid-gutter-width / 2);
            padding-right: ($grid-gutter-width / 2);
            float: none;
        }
    }
}
