{% extends "common/col1.html" %}
{% load main_image %}

{% block title %}Volontulo - podejmij pracę jako wolontariusz{% endblock %}

{% block name %}home-page{% endblock %}

{% block content-heading %}
    <img class="img-responsive center-block" src="/static/volontulo/img/volontulo_baner.png" />
{% endblock %}
{% block content %}
    {% if offers %}
        <h2>Pomóż w jednej z ofert:</h2>
        <div class="row offer-thumbnails auto-clear">
        {% for o in offers %}
            {{ o.image }}
            <div class="col-sm-6 col-md-4 col-lg-3">

                <div class="thumbnail">
                    <a href="{% url 'offers_view' o.title|slugify o.id %}" class="heading-image" style="background-image:url({{ MEDIA_URL }}{{ o.images.all|main_image }})"></a>
                    <div class="caption">
                        <a role="button" class="btn btn-warning join-btn" href="{% url 'offers_view' o.title|slugify o.id %}">Włącz się</a>
                        <h3 class="heading">
                            <a class="" href="{% url 'offers_view' o.title|slugify o.id %}">{{ o.title }}</a>
                        </h3>
                        <div class="media panel-default">
                            <div class="media-left panel-heading">
                                <span aria-hidden="true" class="glyphicon glyphicon-map-marker"></span>
                            </div>
                            <div class="media-body panel-body">
                                {{ o.location }}
                            </div>
                        </div>
                        <div class="media panel-default">
                            <div class="media-left panel-heading">
                                <span aria-hidden="true" class="glyphicon glyphicon-time"></span>
                            </div>
                            <div class="media-body panel-body">
                                <span class="is-inline_block"><sup>od </sup>{{ o.started_at|date:'j E Y, G:m'|default:' teraz' }}</span>
                                <span class="is-inline_block"><sub>do </sub>{{ o.finished_at|date:'j E Y, G:m'|default:' ustalenia' }}</span>
                            </div>
                        </div>
                        <div class="text-right">Organizator: <a class="text-warning" href="{% url 'organization_view' slug=o.organization.name|slugify id_=o.organization.id %}">{{ o.organization.name }}</a></div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <p class="lead">Zgłoś swoją ofertę aby znaleźć wolontariuszy do pomocy w akcji!</p>
        {% if user.is_anonymous and not user.is_authenticated %}
        <div class="media">
            <div class="media-left media-middle">
                <a class="btn btn-primary" href="{% url 'register' %}">Załóż konto</a>
            </div>
            <div class="media-left media-middle">
                <span class="control-label">lub</span>
            </div>
            <div class="media-left media-middle">
                <a class="btn btn-primary" href="{% url 'login' %}">Zaloguj się</a>
            </div>
        </div>
        {% else %}
            <a class="btn btn-primary" href="{% url 'offers_create' %}">Zgłoś ofertę</a>
        {% endif %}
    {% endif %}

    <div class="row">
        <div class="col-xs-4 text-center">
            <img class="img-responsive center-block" src="http://placehold.it/260x260?text=Załóż+konto" />
            <p><a href="{% url 'register' %}">Załóż konto</a></p>
        </div>
        <div class="col-xs-4 text-center">
            <img class="img-responsive center-block" src="http://placehold.it/260x260?text=Wybierz ofertę" />
            <p><a href="{% url 'offers_list' %}">Wybierz ofertę</a></p>
        </div>
        <div class="col-xs-4 text-center">
            <img class="img-responsive center-block" src="http://placehold.it/260x260?text=Podziel+się" />
            <p><a href="#">Podziel się...</a></p>
        </div>
    </div>

{% endblock %}
