{% extends "common/col1.html" %}

{% block title %}Resetowanie hasła{% endblock %}

{% block content %}
    <h2>Resetowanie hasła</h2>

<form action="" method="post">
    {% csrf_token %}

    <p class="aligned wide"><label for="id_new_password1">Nowe hasło:</label><input id="id_new_password1" name="new_password1" type="password" /></p>

    <p class="aligned wide"><label for="id_new_password2">Powtórz nowe hasło:</label><input id="id_new_password2" name="new_password2" type="password" /></p>

<p><input type="submit" value="Zmień hasło" /></p>
</form>

{% endblock %}
