{% extends "common/col1.html" %}

{% block title %}Rejestracja w Volontulo{% endblock %}

{% block content %}
    <h2>Rejestracja w Volontulo</h2>

    <form id="user_register" method="post" action="{% url 'register' %}" role="form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ user_form.email.label_tag }}
            <input type="text" value="" name="email" class="form-control" id="{{ user_form.email.id_for_label }}" />
        </div>
        <div class="form-group">
            {{ user_form.password.label_tag }}
            <input type="password" value="" name="password" class="form-control" id="{{ user_form.password.id_for_label }}" />
        </div>
        <button type="submit" name="submit" class="btn btn-primary">Zarejestruj się</button>
    </form>
{% endblock %}
