{% load staticfiles %}
{% load main_image %}

{% if offers %}
    <table class="table table-striped offer-table">
        <tr>
            <th></th>
            <th>Tytuł</th>
            <th>Miejsce</th>
            <th>Czas obowiązywania</th>
            <th>Status</th>
            <th class="text-right"></th>
        </tr>
    {% for o in offers %}
        <tr>
            <td>
                <a class="crop-circle" href="{% url 'offers_view' o.title|slugify o.id  %}">
                    <img src="/media/{{ o.images.all|main_image }}" alt="{{o.images.all|main_image|slugify|default:''}}" />
                </a>
            </td>
            <td>
                <a class="btn btn-link" href="{% url 'offers_view' o.title|slugify o.id  %}">{{ o.title }}</a>
            </td>
            <td>
                <div class="form-control-static">
                    {{ o.location }}
                </div>
            </td>
            <td>
                <div class="form-control-static">
                    <span class="is-inline_block">{{ o.started_at|date:'j E Y, G:m'|default:' teraz' }}</span> -
                    <span class="is-inline_block">{{ o.finished_at|date:'j E Y, G:m'|default:' do ustalenia' }}</span>
                </div>
            </td>
            <td>
                <div class="form-control-static">
                    {# <span class="is-inline_block">{{ Offer.OFFER_STATUS[o.offer_status].value | default:' unavailable'}}</span> #}
                    <span class="is-inline_block">{% include 'common/labeled_status.html' with status=o.offer_status %}</span>
                </div>
            </td>
            <td class="text-right">
            {% if o.status_old == 'STAGED' %}
                <a href="{% url 'offers_view' o.title|slugify o.id %}" class="btn btn-primary">Włącz się</a>
            {% endif %}
            {# Only the user that can edit the organization can edit its offers #}
            {% if allow_edit %}
                <a href="{% url 'offers_edit' o.title|slugify o.id %}" class="btn btn-info">Edytuj</a>
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>Ta organizacja nie utworzyła jeszcze żadnych ofert.</p>
{% endif %}
