{% load staticfiles %}

{% if offers %}
    <table class="table table-striped">
        <tr>
            <th>Tytuł</th>
            <th>Miejsce</th>
            <th>Czas obowiązywania</th>
            <th>Akcje</th>
        </tr>
    {% for o in offers %}
        <tr>
            <td>{{ o.title }}</td>
            <td>{{ o.location }}</td>
            <td>{{ o.time_period }}</td>
            <td>
            {% if o.status == 'STAGED' %}
                <a href="{% url 'offers_view' o.title|slugify o.id %}" class="btn btn-primary btn-sm">Pomóż</a>
                <a href="{% url 'offers_edit' o.title|slugify o.id %}" class="btn btn-info btn-sm">Edytuj</a>
            {% else %}
                <form class="is-inline_block" id="offer_{{ o.id }}_activate" method="post" action="{% url 'offers_edit' o.title|slugify o.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" value="status_change" name="edit_type" />
                    <input type="hidden" value="ACTIVE" name="status" />
                    <button type="submit" name="submit" class="btn btn-primary btn-sm">Aktywuj</button>
                </form>
                <a href="{% url 'offers_edit' o.title|slugify o.id %}" class="btn btn-info btn-sm">Edytuj</a>
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>Ta organizacja nie utworzyła jeszcze żadnych ofert.</p>
{% endif %}
