//
// Global Customization
// --------------------------------------------------

.is-inline_block {
    display: inline-block;
}

// headers in headers
.h1 h1,
.h2 h2,
.h3 h3,
.h4 h4,
.h5 h5,
.h6 h6 {
    display: inline-block;
    margin: 0;
}
.h1,
.h2,
.h3 {
    .btn {
        vertical-align: top;
    }
}

b,
th,
label {
    font-weight: 600;
}
strong {
    font-weight: 700;
}

// forms
.form-horizontal .control-label[class*="col-"] {
    padding-right: 0;
}
input.form-control[required] {
    @extend %asterisk-icon;
    background-size: 16px;
    padding-right: 26px;
    background-position: right 5px center;
    text-overflow: ellipsis;
}

// Cookielaw Banner
#CookielawBanner {
    margin-bottom: 5px;
    background: #fff;
    color: $darkgray-light;
    font-size: 0.9em;
    @include box-shadow(inset 0 -20px 20px -20px rgba($darkgray-dark, .1));
    h6 {
        display: none;
    }
    p {
        margin: 5px 0;
    }
    .btn {
        margin-left: 10px;
    }
}

// section header
.header {
    .navbar-header {
        margin: 0;
    }
    .pull-right {
        .navbar-text {
            float: none;
            display: inline-block;
            vertical-align: bottom;
        }
    }
    .messages {
        .alert:first-child {
            margin-top: $line-height-computed;
        }
    }
}

// section content-heading
.content-heading {
    position: relative;
    background: $lightgray-light;
    &:before {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        max-height: 100%;
        height: 4em;
        background: linear-gradient(to bottom,
                    rgba(black, 0) 0%,
                    rgba(black, .06) 80%,
                    rgba(black, .1) 100%);
    }
}
// section content
.content {
    min-height: calc(65vh - 45px);
    background: $lightgray-light;
    .container:before {
        margin-bottom: 20px;
    }
}

// section footer
.footer {
    background-color: $darkgray-dark;
    color: $mediumgray-dark;
    .nav-title {
        font-weight: 600;
        font-size: 15px;
        text-transform: uppercase;
        color: $lightgray-dark;
    }
    .list-unstyled {
        > li {
            padding: .3em 0;
            a {
                color: $mediumgray-dark;
                &:hover {
                    color: $mediumgray-light;
                    text-decoration: none;
                }
            }
        }
    }
}

.sub-footer{
    min-height: 20vh;
    padding: 15px;
    .cooperation-info{
        font-size: 18px;
        text-align: center;
        color: $darkgray-light;
        font-weight: bold;
    }
    .logos{
        padding: 15px 0;
    }
}

// offer tables
.offer-table {
    .crop-circle {
        display: block;
        overflow:hidden;
        position: relative;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        img {
            position: absolute;
            transform: translate(-25%, -50%);
            width: 200%;
            top: 50%;
            &[alt=""] {
                height: 100%;
                background: $mediumgray-light;
            }
        }
    }
    .btn {
        padding-left: 8px;
        padding-right: 8px;
        &:first-child {
            margin-left: -8px;
        }
        &:last-child {
            margin-right: -8px;
        }
        &.btn-link {
            white-space: normal;
        }
    }
}

// offer-thumbnails
.offer-thumbnails {
    .thumbnail {
        font-size: 13px;
        overflow: hidden;
        .heading-image {
            display: block;
            position: relative;
            margin: -10% -15% -30%;
            padding-top: 100%;
            .user-profile & {
                padding-top: 75%;
            }
        }
        .caption {
            position: relative;
            @include box-shadow(0 0 10px rgba($darkgray-dark, .5));
            background: linear-gradient(to bottom,
                        rgba(white, .8) 0%,
                        rgba(white, 1) 40%,
                        rgba(white, 1) 100%);
            sub, sup {
                color: $darkgray-light;
                font-variant: small-caps;
            }
            sub {
                bottom: -0.05em;
            }
        }
        .join-btn {
            float: right;
            margin-top: -52px;
            margin-bottom: 16px;
            font-weight: 600;
            @include box-shadow(0 0 2px rgba(black, .5));
        }
        .heading {
            font-size: 15px;
            font-weight: 600;
            margin: 0 0 8px;
            padding: 4px 0;
            color: black;
            text-align:center;
            a {
                color: inherit;
            }
        }
    }
    // homepage minified thumbs
    .home-page & .media {
        position: relative;
        @include box-shadow(0 0 1px rgba(black, .1));
        margin: .5em 0;
        .media-left {
            padding: 0px;
            min-width: 28px;
            line-height: 28px;
            font-size: 16px;
            text-align: center;
            .glyphicon {
                top: 2px;
                margin: 0;
                font-size: inherit;
                vertical-align: baseline;
            }
        }
        .media-body {
            padding: 6px;
        }
    }
}

// big media items for offer header, etc
%offer-media-panel {
    .offer-title {
        float: left;
        padding: 0px 8px;
        border-radius: 3px;
        border: 1px solid rgba(black, .1);
        background-color: rgba($darkgray-dark, .2);
        .title {
            display: inline-block;
            margin: 0;
            padding: 6px 8px 10px;
            line-height: 29px;
            font-size: 24px;
            font-weight: 700;
            color: $lightgray-light;
            text-shadow: 0 0 10px rgba(black, .2),
                         0 0px 1px rgba(black, .6),
                         0 1px 0 rgba(black, .6);
            vertical-align: middle;
        }
        .btn {
            vertical-align: middle;
        }
    }
    .panels {
        position: absolute;
        bottom: 20px;
        left: 20px;
        .media {
            float: left;
            margin: 15px 30px 0 0;
            @include box-shadow(0 0 1px rgba(black, .4));
            .media-left {
                opacity: .92;
                line-height: .5;
                border-top: 0;
                .glyphicon {
                    margin: 0;
                    font-size: 24px;
                    vertical-align: baseline;
                }
            }
            .media-body {
                width: auto;
                font-size: 16px;
                background: rgba(white, .92);
            }
        }
    }
}

// offer-view
.offer-view {
    .content-heading {
        .heading-wrapper {
            position: relative;
            overflow: hidden;
            height: 300px;
            img {
                position: absolute;
                transform: translate(0%, -50%);
                width: 100%;
                top: 50%;
            }
        }
        @extend %offer-media-panel;
        // overwrite addthis share buttons style
        $share-height: 45px;
        .addthis_sharing_toolbox {
            float: left;
            margin-top: 15px;
            height: $share-height;
            .at-share-btn {
                @include box-shadow(0 0 1px rgba(black, .4));
                max-height: $share-height;
                max-width: $share-height;
                border-radius: 3px;
                margin: 0 2px !important;
                .at-icon-wrapper,
                .at4-icon {
                    height: $share-height !important;
                    line-height: $share-height !important;
                    width: $share-height !important;
                    background-size: $share-height auto !important;
                    border-radius: 3px;
                    svg {
                        height: $share-height !important;
                        width: $share-height !important;
                    }
                }
            }
        }
    }
}

// user profile
.user-profile {
    .content-heading {
        .cover-image {
            min-height: 100%;
            height: 200px;
            width: 200px;
            margin-right: 30px;
            background-position: center;
            background-size: cover;
        }
    }
    .user-photo {
        img {
            width: 100%;
            max-height: 300px;
        }
    }
    .thumbnail {
        position: relative;
        .heading-image {
            position: absolute;
            margin: 0;
            padding-top: 0;
            top: -30%;
            bottom: -0%;
            left: -0%;
            right: -0%;
        }
        @extend %offer-media-panel;
        .panels {
            position: relative;
            top: 0;
            bottom: 0;
            left: 0;
            margin: 20px;
        }
    }
}
